.menua{
    z-index: 999;
    width: 47px;
    height:44px;
    position:fixed;
    top:1.5em;
    left: 3em;
    background: #f4f7f6;
    transition: all ease-out 400ms;
    overflow: hidden;
    padding: 20px;
    color:black;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 16px -2px rgba(94,94,94,1);
-moz-box-shadow: 0px 0px 16px -2px rgba(94,94,94,1);
box-shadow: 0px 0px 16px -2px rgba(94,94,94,1);
}
.hamBurger{
    /* border: 0px solid blue; */
    
    border-radius: 3px;
    background:#f4f7f6;
    display:block;
    position: fixed;
    top:1.3em;
    left: 3em;
    width: 47px;
    height: 47px;   
    padding: 7px;
    overflow:hidden;
    line-height:0;
    z-index: 1000;
    transition: all ease-in-out 500ms;
}
.hamBurger  div {
    display:inline-block;
    width:33px;
    height: 4px;
    background: #312c32;
    margin: 3.5px 0 3.5px 0;
    transition: all ease-in 500ms ;

}
.animate1{
    transform:  translateY( 11px) rotateZ(180deg);
    width: 30px;
    opacity: 0;
}
.animate2{
     /* transform: translateX(1.5px) scale(0);  */
}
.animate3{
    transform:  translateY( -11px) rotateZ(-180deg);
    width: 30px;
    opacity: 0;
}
.menuActive{
    width:100%;
    height: 6em;
    top:0;
    left:0;
    display: block;
}
.linkActive{
    color: #3fb0ac;
    border-bottom: 3px solid orange;
    border-radius: 5px;
}
@media screen and (max-width: 55em){
    .menuActive{
        height: 312px;
        /* max-width: 412px; */
    }
}
/* .hamBurgerActive{
    background: ;
    border-radius: 50%;
} */
nav{
    /* border: 1px dashed red; */
    padding: 0px;
    position: absolute;
    right:0px;
    top: -0.5em;
    display:block;
}
.menua nav ul{
    margin: 0px;
    padding: 10px 10px 0 10px;
    
}
.menua nav ul li{
    /* border: 3px solid red; */
    display: inline-block;
    margin:0px 15px;
    opacity: 0;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
@media screen and (max-width: 55em){
    .menua nav ul li{
        display: block;
    }
    nav{
        left:0;
    }
    .menua nav ul li div{
        text-align: center;
    }
}

.menua nav ul li.activea{
    opacity: 1;
}
.menua nav ul li a{
    text-align: left;
    font-size: 10px;
    padding: 20px;
    display: block;
    text-decoration: none;
}
.delay1 {
	-webkit-transform-delay: 0.42s;
	transition-delay: 0.42s;
}

.delay2 {
	-webkit-transform-delay: 0.44s;
	transition-delay: 0.44s;
}

.delay3 {
	-webkit-transition-delay: 0.46s;
	transition-delay: 0.46s;
}

.delay4 {
	-webkit-transition-delay: 0.48s;
	transition-delay: 0.48s;
}

.delay5 {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
} 
.navyItems{
    color: black;
}
.menua nav ul li span{
    display: block;
    font-size: 20px;
    font-family: 'Coiny';
}   
.navyItems:hover{
    color: #3fb0ac;
}