.cbg{
    height: 80vh;
    background-image: url('../../../assets/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.butta{
    background-image: url('../../../assets/butta.png');
}
